apiversion: app/v1
kind: Deployment
metadata:
 name: mongodb
 namespace: roboshop
 #this labels are replecaset labels
 labels:
   project: roboshop
   component: mongodb
   tier: db
spec:
 replicas: 1
 selector:
 # this lablels used to  select the pods
  matchlabels:
   project: roboshop
   component: mongodb
   tier: db
   #pod defention
  templects:
    metadata:
      labels:
      project: roboshop
      component: mongodb
      tier: db
    spec:
      containers:
      - name: mongodb
        image: "{{ .values.deployment.imageRepo}}:{{ .values.deployment.imageversion }}"
        rednessProbe:
          tcpsocket:
            port: 27017
            initialdelayseconds: 10
            persionseconds: 10

        livenessProbe:
          tcpsocket:
            port: 27017
            initialdelayseconds: 5
            persionseconds: 5    